body {
    background-image: url('/static/image/background.jpg');
    background-position: center 120%  ;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: auto;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    margin: 20px;
}
.container {
    position: absolute;
    top:190px;
    right: 600px;
    max-width: 270px;
    width: 265px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;

}
.checkbox-group {
    margin-bottom: 20px;
}
.checkbox-group label {
    display: block;
    margin-bottom: 10px;
}
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
.error {
    color: red;
    margin-top: 10px;
}