{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buddypair</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/entry.css' %}">
</head>
<body>
    <div class="container-fluid">
        <section id="interested">
            <div class="container">
                <div class="wrapper">
                    <p class="head">Interested in</p>
                    <h6 class="men">MEN</h6>
                    <h6 class="women">WOMEN</h6>
                    <h6 class="both">BOTH</h6>
                </div>
            </div>
        </section>
    </div>
    
</body>
</html>